<div class="container">
	<div class="row">
	<h1 class="col-xs-3">グループ一覧</h1>
	<div class="col-xs-9">
		<div class="group_new">
	<%= form_for @group, url: groups_path do |f| %>
		<%= f.label :グループ名 %>
		<%= f.text_field :name %>
		<%= f.label :　グループ検索 %>
		<label><%= f.radio_button :group_key_flag, "有効" ,checked: "checked"%> 有効 </label>
		<label><%= f.radio_button :group_key_flag, "無効" %> 無効</label>
		<%= f.label :　%>
		<%= f.submit "グループ新規作成", class: "btn btn-default" %>
		<% end %>
		</div>
	</div>
	</div>
	<% if @group_users.exists? %>
	<div class="row">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>グループID</th>
				<th>作成者</th>
				<th>グループ名</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<% @group_users.each do |group_user| %>
			<tr>
				<td><%= group_user.group.id %></td>
				<td><%= group_user.group.user.name %></td>
				<td><%= group_user.group.name %></td>
				<td><%= link_to "詳細", group_todolists_path(group_user.group.id),class: "btn btn-info" %></td>
			</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<div>
			<div class="text-center">
				<i class="fas fa-hands-helping" style="font-size: 100px; color: gray;" ></i>
			</div>
			<h3 class="text-center" style="color: gray;">新しいグループを作成しましょう！</h3>
		</div>
		<% end %>
	</div>
</div>