<div class="container">
	<div class="row">
		<h1 class="col-xs-9">グループ一覧</h1>
		<div class="col-xs-3">
			<div class="group_new">
				<%= link_to "グループ新規作成", new_group_path, class: "btn btn-default" %>
			</div>
		</div>
	</div>
	<% if @group_users.exists? %>
	<div class="row">
		<% @group_users.each do |group_user| %>
		<div class="col-md-4" style="border: 1px solid; margin-left: 3px;">
			<div class="col-md-5">
				<%= attachment_image_tag group_user.group.user, :image, :fill, 150, 140, fallback:  "no_image.jpg",size:"150x140", class: "group-image" %>
			</div>
			<div class="col-md-7 group-introduce"><br>
				<div>作成者：<%= group_user.group.user.name %></div>
				<div>グループID：<%= group_user.group.id %></div>
				<div>グループ名：<%= group_user.group.name %></div>
				<div>参加数：<%= group_user.group.group_users.count %>人</div>
				<div><%= link_to "詳細", group_todolists_path(group_user.group.id),class: "btn btn-info" %>
				</div>
			</div>
		</div>
		<% end %>
		<% else %>
		<div>
			<div class="text-center">
				<i class="fas fa-hands-helping" style="font-size: 100px; color: gray;" ></i>
			</div>
			<h3 class="text-center" style="color: gray;">新しいグループを作成しましょう！</h3>
		</div>
		<% end %>
	</div>
</div>