<div class="container">
	<div class="row">
		<h2>グループ作成</h2>
	</div>
	<div class="row">
		<%= form_for @group, url: groups_path do |f| %>
		<%= f.label :グループ名 %>
		<%= f.text_field :name %>
		<%= f.label :　グループ検索 %>
		<label><%= f.radio_button :group_key_flag, "有効" ,checked: "checked"%> 有効 </label>
		<label><%= f.radio_button :group_key_flag, "無効" %> 無効</label>
		<%= f.label :　%>
		<%= f.submit "グループ新規作成", class: "btn btn-default" %>
		<% end %>
	</div>
	<div class="row"><br>
		<%= link_to "戻る", groups_path, class: "btn btn-primary" %>
	</div>
</div>