<div class="container">
	<div class="row">
		<h1><%= @group.name %></h1>
			<div><%= link_to "メンバー一覧", group_group_users_path(@group.id), class: "btn btn-info" %>
		<% if @group.user_id == current_user.id %>
			<%= link_to "グループ編集", edit_group_path(@group.id), class: "btn btn-success" %>
			<%= link_to "グループ削除", group_path(@group.id), method: :delete, data: {confirm: "グループを削除してもよろしいですか？"}, class: "btn btn-danger" %>
		<% end %>
	</div>
		<div class="todolists-new">
			<%= link_to "＋TODOリスト作成",new_group_todolist_path(@group.id),class: "btn btn-default" %>
		</div>
	</div>
	<% if @todolists.exists? %>
	<div class="row">
		<table class="table table-hover">
			<% @todolists.each do |todolist| %>
			<tr>
				<td class="col-md-7"><%= link_to todolist.head, group_todolist_path(@group.id, todolist.id), style: "color: black;" %></td>
				<% if todolist.checked_by?(current_user)%>
				<td class="col-md-2"><%= link_to group_todolist_checks_path(@group.id, todolist.id), method: :delete do %>
					<i class="fas fa-american-sign-language-interpreting fa-fw fa-2x" style="color: red;" ></i>
					<% end %>
					<%= todolist.checks.count %>人協力
				</td>
				<% else %>
				<td class="col-md-2"><%= link_to group_todolist_checks_path(@group.id, todolist.id), method: :post do %>
					<i class="fas fa-american-sign-language-interpreting fa-fw fa-2x" aria-hidden="true"></i><% end %>
					<%= todolist.checks.count %>人協力
				</td>
				<% end %>
				<td class="col-md-2"><%= link_to "詳細", group_todolist_path(@group.id, todolist.id), class: "btn btn-info" %>
				<%= link_to "編集", edit_group_todolist_path(@group.id, todolist.id), class: "btn btn-success" %>
				<%= link_to "削除", group_todolist_path(@group.id, todolist.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% else %>
	<div class="row">
		<div class="todolists-text">
			<i class="fas fa-book-open" style="font-size: 100px; color: gray;" ></i>
		</div>
		<h3 class="todolists-text" style="color: gray;">新しいTODOリストを作成しましょう!</h3>
	</div>
	<% end %>
	<div class="row">
		<%= link_to "戻る", groups_path, class: "btn btn-primary" %>
	</div>
</div>