<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<h1 class="todolist-title"><%= @todolist.head %></h1><br>
				<% unless @todolist.day.nil? %>
					<h3 class="todolist-day">日付　<%= @todolist.day %></h3><br>
				<% end %>
				<h3 class="todolist-body"><%= simple_format(@todolist.body) %></h3>
				<br>
				<%= form_with(model: [@todolist, @comment], url:  group_todolist_comments_path(@group.id, @todolist.id)) do |f| %>
					<div class="comment-form">
					<% if @comment.errors.any? %>
			  			<h2><%= pluralize(@comment.errors.count,"つエラーがあります") %></h2>
			  			<% @comment.errors.full_messages.each do |message| %>
			  				<li><%= message %></li>
			   			<% end %>
					<% end %>
					<%= f.text_area :comment, style: "height: 60px; width: 60%;" %>
					</div>
				<div class="comment-form">
					<%= f.submit "コメントする", class: "btn btn-default",style: "width: 60%;" %>
				</div>
				<% end %>
			<div><br>
				<%= link_to "戻る", group_todolists_path(@group.id), class: "btn btn-lg" %>
			</div>
		</div>
		<div class="col-md-7">
			<div style="height: 850px; overflow-y:scroll;">
			<%= render partial: 'comments/comment', locals: { comments: @comments } %>
			</div>
		</div>
	</div>
</div>