<!DOCTYPE html>
<html>
  <head>
    <title>TodoCommon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6a7bab16e6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h1 class="title">TodoCommon</h1>
        </nav>
        <nav class="nav navbar-nav navbar-center">
          <% if signed_in? %>
          <%= form_tag search_search_path,:method => 'get' do %>
          <div class="search_form">
            <%= text_field_tag 'search[content]',"", :placeholder => "グループID検索" ,class: "search-tag" %>
            <%= submit_tag '検索', :style => "background-color: #8ee;" %>
            </div>
          <% end %>
          <% end %>
        </nav>
        <nav class="nav navbar-nav navbar-right" style="margin-top: 25px; ">
          <% if signed_in? %>
          <li><%= link_to 'グループ一覧', groups_path %></li>
          <li><%= link_to 'ユーザー情報編集', edit_user_path(current_user) %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'トップページ', root_path %></li>
          <li><%= link_to 'ユーザー情報登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
