<!DOCTYPE html>
<html>
  <head>
    <title>TodoCommon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6a7bab16e6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse" style="margin-bottom: 0;">
    </style>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h1 class="nav-title">TodoCommon</h1>
        </nav>
        <nav class="nav navbar-nav navbar-right" style="margin-top: 25px; ">
          <% if signed_in? %>
          <li><%= link_to "検索", search_search_form_path, class: "fab fa-sistrix" %></li>
          <li><%= link_to 'グループ一覧', groups_path, class: "fas fa-users" %></li>
          <li><%= link_to 'ユーザー情報編集', edit_user_path(current_user), class: "far fa-user" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
          <% else %>
          <li><%= link_to 'トップページ', root_path,class: "fas fa-door-open" %></li>
          <li><%= link_to 'ユーザー新規登録', new_user_registration_path, class: "fas fa-user-plus" %></li>
          <li><%= link_to 'ログイン', new_user_session_path,class: "fas fa-sign-in-alt" %></li>
          <% end %>
        </nav>
      </div>
    </header>
    <main>
    <%= yield %>
  </main>
  <footer>
    <div class="container">
      <div class="footer-box">
        <p class="footer-text">@2020 TodoCommon</p>
        <div class="footer-social">

            <a href="#">
            <i class="fab fa-instagram-square fa-fw fa-2x icon-instagram" style="color: gray;"></i></a>


            <a href="#">
            <i class="fab fa-facebook fa-2x icon-facebook" style="color: gray;"></i></a>

            <a href="#">
            <i class="fab fa-twitter fa-fw fa-2x icon-twitter" style="color: gray;"></i></a>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
